<div class="page-content">
    <!--<div class="products-content">-->
        <div class="products-content-para">
            Instrumentation and Automation are the systems for measuring, controlling, indicating and automating the
            processes.<br/>Infinia Engineering provides ones stop solutions for wide range of Instrumentation and
            Automation Products
        </div>
        <div class="pipefittings-flex-container container-fluid">
            <div class="pipefittings-col-flex">
                <div class="pipefittings-row-flex">
                    <div class="pipefittings-imgspan-flex">
                        <div class="image-box">
                            <img src="/images/Products/Automation/Process%20Instrumentation/Force%20Measurements%20Sensors.jpg">
                        </div>
                        <div class="quality-label-box">
                            Force Measurement Sensors
                        </div>
                    </div>
                    <div class="pipefittings-imgspan-flex">
                        <div class="image-box">
                            <img src="/images/Products/Automation/Process%20Instrumentation/Level%20Measurement.png">
                        </div>
                        <div class="quality-label-box">
                            Level Measurement
                        </div>
                    </div>
                    <div class="pipefittings-imgspan-flex">
                        <div class="image-box">
                            <img src="/images/Products/Automation/Process%20Instrumentation/Pressure%20Measurement%20Sensors.jpg">
                        </div>
                        <div class="quality-label-box">
                            Pressure Measurement Sensors
                        </div>
                    </div>
                    <div class="pipefittings-imgspan-flex">
                        <div class="image-box">
                            <img src="/images/Products/Automation/Process%20Instrumentation/Temperature%20Measurement%20Sensors.jpg">
                        </div>
                        <div class="quality-label-box">
                            Temperature Measurement Sensors
                        </div>
                    </div>
                </div>
                <div class="pipefittings-item-description">
                    <p>
                        <strong>Process Instrumentation</strong><br/>
                        Types: Level Measurement, Temperature Measurement, Pressure Measurement, Conductivity Measurement,
                        Force/Strain<br/>
                        Sensors, Controllers, Control Switches, Process Displays, Industrial/Image Processing<br/>
                        <strong>Level Measurement</strong>
                        Types: Frequency Sweep, Potientiometric, Hydrostatic, Capacitive, Ultrasonic, Conducive<br/>
                        Certified to 3A, EHEDG, FDA, Atex, WHG, cULus<br/>
                        Fast Response Time<br/>
                        <strong>Temperature Measurement</strong><br/>
                        Types: Electronic Temperature Transmitter, Mechanical Thermometer Gauges, Temperature Switches,
                        Cable Sensors<br/>
                        Operation Type: Electrical, Mechanical<br/>
                        <strong>Pressure Measurement</strong><br/>
                        Types: Electronic Pressure Transmitter, Mechanical Pressure Gauges, Pressure Switches,
                        Chemical Seals<br/>
                        Operation Type: Electrical, Mechanical<br/>
                        <strong>Force/Strain Measurement</strong><br/>
                        Load Cell, Strain Ring, Strain Probe, Strain Links, Bridge Amplifier, Display Box,
                        Piezo Electric Force<br/>
                        <strong>Sensors</strong><br/>
                        Image Processing: Industrial Cameras, Software, Accessories, Starter Kits<br/>
                        Controllers: Temperature Controllers, Field Networks, Counters, Timers, Panel Meters, Pulse/Rate
                        Meters, Graphic Touch Panels, Logic Panels, Sensor Controllers, Switching Mode Power Supplies,
                        Display Units, Power Controllers, SSR<br/>
                        Motion Devices: Stepper Motors, Stepper Motor Drives, Motion Controllers<br/>
                        Control Switches: Push Button Switches, Selector Switches, Key Selector Switches,
                        Emergency Switches, Pilot Lights, Buzzers
                    </p>
                </div>
            </div>


            <div class="pipefittings-col-flex">
                <div class="pipefittings-row-flex">
                    <div class="pipefittings-imgspan-flex">
                        <div class="image-box">
                            <img src="/images/Products/Automation/Hydraulics%20and%20Pneumatics/Cylinders.jpg">
                        </div>
                        <div class="quality-label-box">
                            Cylinders
                        </div>
                    </div>
                    <div class="pipefittings-imgspan-flex">
                        <div class="image-box">
                            <img src="/images/Products/Automation/Hydraulics%20and%20Pneumatics/Instrumentation%20Actuators.jpg">
                        </div>
                        <div class="quality-label-box">
                            Instrumentation Actuators
                        </div>
                    </div>
                    <div class="pipefittings-imgspan-flex">
                        <div class="image-box">
                            <img src="/images/Products/Automation/Hydraulics%20and%20Pneumatics/Instrumentation%20Pumps.jpg">
                        </div>
                        <div class="quality-label-box">
                            Instrumentation Pumps
                        </div>
                    </div>
                    <div class="pipefittings-imgspan-flex">
                        <div class="image-box">
                            <img src="/images/Products/Automation/Hydraulics%20and%20Pneumatics/Instrumentation%20Valves.jpg">
                        </div>
                        <div class="quality-label-box">
                            Instrumentation Valves
                        </div>
                    </div>
                    <div class="pipefittings-imgspan-flex">
                        <div class="image-box">
                            <img src="/images/Products/Automation/Hydraulics%20and%20Pneumatics/Motors.jpg">
                        </div>
                        <div class="quality-label-box">
                            Motors
                        </div>
                    </div>
                </div>
                <div class="pipefittings-item-description">
                    <p>
                        <strong>Hydraulics and Pneumatics</strong><br/>
                        Types: Valves, Pumps, Actuators, Cylinders <br/>
                        <strong>Valves:</strong> Gate Valves, Globe Valves, Ball Valves, 3-Way Valves, 4-Way Valves, 5-Way Valves<br/>
                        <strong>Pumps:</strong> Air Driver Hydaulic Pumps, Air Driven Pumps, Radial Piston Pumps,
                        Axial Piston Pumps, Hydraulic Power Packs, Hand Pumps, Pneumatic Diaphragm Pumps<br/>
                        <strong>Actuators:</strong> Scotch Yoke Actuators, Rack and Pinion Actuators, Pneumatic Actuators,
                        Electric Actuators<br/>
                        <strong>Cylinders:</strong><br/>
                        Hydraulics: Tie Rod Hydraulic Cylinders, Mill Type Cylinders, Large Hydraulic Cylinders<br/>
                        Pneumatic: Cylinder with Piston Rod, Rodless Linear Drives, Swivel Cylinders, Stopper Cylinders,
                        Clamping Cylinders, Bellows and Diaphragm Cylinders<br/>
                        <strong>Motors</strong><br/>
                        Hydraulics: Piston, Vane, Gear<br/>
                        Pneumatic: Linear, Rotary Vane<br/>
                        Electrical: DC, AC
                    </p>
                </div>
            </div>


            <div class="pipefittings-col-flex">
                <div class="pipefittings-row-flex">
                    <div class="pipefittings-imgspan-flex">
                        <div class="image-box">
                            <img src="/images/Products/Automation/Instrumentation%20Tubing%20and%20Fittings/Instrumentation%20Couplings.jpg">
                        </div>
                        <div class="quality-label-box">
                            Couplings
                        </div>
                    </div>
                    <div class="pipefittings-imgspan-flex">
                        <div class="image-box">
                            <img src="/images/Products/Automation/Instrumentation%20Tubing%20and%20Fittings/Instrumentation%20Fittings.jpg">
                        </div>
                        <div class="quality-label-box">
                            Fittings
                        </div>
                    </div>
                    <div class="pipefittings-imgspan-flex">
                        <div class="image-box">
                            <img src="/images/Products/Automation/Instrumentation%20Tubing%20and%20Fittings/Instrumentation%20Hose.jpg">
                        </div>
                        <div class="quality-label-box">
                            Hose
                        </div>
                    </div>
                    <div class="pipefittings-imgspan-flex">
                        <div class="image-box">
                            <img src="/images/Products/Automation/Instrumentation%20Tubing%20and%20Fittings/Instrumentation%20Manifolds.jpg">
                        </div>
                        <div class="quality-label-box">
                            Manifolds
                        </div>
                    </div>
                    <div class="pipefittings-imgspan-flex">
                        <div class="image-box">
                            <img src="/images/Products/Automation/Instrumentation%20Tubing%20and%20Fittings/Instrumentation%20Tube.jpg">
                        </div>
                        <div class="quality-label-box">
                            Tube
                        </div>
                    </div>
                </div>
                <div class="pipefittings-item-description">
                    <p>
                        <strong>Instrumentation Fittings</strong><br/>
                        Types: Tube Fittings, Pipe Fittings, Manifolds, Filters, Instrument Quick Connects, Couplings,
                        Hose, Siphon/Syphon Fittings, Weld Fittings, PTFE Fittings<br/>
                        <strong>Tube Fittings:</strong> Tubing to Female Thread, Tubing to Male Thread, Tubing to
                        Welded Systems, Reducer Fittings, Caps and Plugs, Adapters, Chromotography, Bonded Seals,
                        Dielectric Tube Fittings, Lapped Flange Connectors<br/>
                        <strong>Manifolds:</strong> Direct Mount Systems, Mini Valves and Rupture Disc Holders,
                        Modular Mounting Systems, E series Manifolds, Soft Seated Valves and Manifolds, 5 Way Valves
                        Manifolds, 3 Way Valve Manifolds, 2 Way Valve Manifolds<br/>
                        Instrument Quick Connects: Miniature Quick Connects, PTFE Sealed Quick Connects.<br/>
                        <strong>Instrumentation Tubings</strong><br/>
                        Types: Stainless Steel Tubings, Cone and Thread Tubings, Heavy Wall Annealed, High Pressure
                        Tubings<br/>
                        Materials: 304/304L, 316/316L<br/>
                        Pressure Ratings: upto 861psig<br/>
                        Sizes: 1/8" to 1" in outside diameter
                    </p>
                </div>
            </div>

            <div class="pipefittings-col-flex">
                <div class="pipefittings-row-flex">
                    <div class="pipefittings-imgspan-flex">
                        <div class="image-box">
                            <img src="/images/Products/Automation/Automation%20Systems/CCTV.jpg">
                        </div>
                        <div class="quality-label-box">
                            CCTV
                        </div>
                    </div>
                    <div class="pipefittings-imgspan-flex">
                        <div class="image-box">
                            <img src="/images/Products/Automation/Automation%20Systems/Image%20Processing%20Softwarees.jpg">
                        </div>
                        <div>
                        <span class="quality-label-box">
                            Image Processing Softwares
                        </div>
                    </div>
                    <div class="pipefittings-imgspan-flex">
                        <div class="image-box">
                            <img src="/images/Products/Automation/Automation%20Systems/MCC%20Panels.jpg">
                        </div>
                        <div class="quality-label-box">
                            MCC Panels
                        </div>
                    </div>
                    <div class="pipefittings-imgspan-flex">
                        <div class="image-box">
                            <img src="/images/Products/Automation/Automation%20Systems/PLC%20Panels.jpg">
                        </div>
                        <div class="quality-label-box">
                            PLC Panels
                        </div>
                    </div>
                    <div class="pipefittings-imgspan-flex">
                        <div class="image-box">
                            <img src="/images/Products/Automation/Automation%20Systems/SCADA%20Panels.jpg">
                        </div>
                        <div class="quality-label-box">
                            SCADA Panels
                        </div>
                    </div>
                </div>
                <div class="pipefittings-item-description">
                    <p>
                        <strong>Automation System</strong><br/>
                        <strong>Building Automation Systems</strong><br/>
                        Types: CCTV, Automated Doors and Gates, Automation System for Lighting, Scenes, Blinds,
                        Air Conditioning, Security Solutions<br/>
                        <strong>Factory & Industrial Systems</strong><br/>
                        Types: PCC Panel, MCC Panel, Intelligent MCC, DG Synchronization Panel, Auto Main Failure,
                        ADFC Panel, VFD Panel, Soft Starter Panel, PLC Panel, SCADA Panel, Bus Ducts, VCB Panel
                    </p>
                </div>
            </div>
        </div>
    <!--</div>-->
</div>
