<div class="banner">
    <div class="banner-content">
        <div class="banner-flex-container">
            <div class="banner-flex-left">
                <div>
                    <h2><a href="/" style="color: #4584a1;"><img src="../images/Home%20Page/infiniaengineering-logo.png" width="50px" style="margin-right: 5px; margin-top: -7px">Infinia Engineering</a></h2>
                </div>
            </div>
            <div class="banner-flex-right">
                <div>
                    <h5 style="color: #757575">infinia.engg@gmail.com</h5>
                </div>
            </div>
        </div>
    </div>
</div>