<div class="page-content">
    <div class="products-content-para">
        <p>Bolts and Nuts (Fasteners) is an Integral Element of any construction and Installation. It serves as a
            fastening or fixing agent between two mating surfaces. <br/>Infinia Engineering Supplies Fasteners in
            compliance to the project requirement.
        </p>
    </div>
    <div class="products-flex-container">
        <div class="products-flex-row-container">
            <div class="products-small-row-flex image-box">
                <img src="/images/Products/Bolts%20and%20Nuts%20-%20Fasteners/Stud%20Bolts.jpg">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>Stud Bolts</strong><br/>
                    Type: Full Threaded, Double End Threaded (Engineering), Tie Rods<br/>
                    Size: 1/4" to 4", M6 to M102<br/>
                    Length: as per project requirement<br/>
                    Finish: Zinc Plating, HDG, PTFE Xylan, Dacromet<br/>
                    Material Grades: 4.6, 5.8, 8.8, 10.9, 12.9, B7, B7M, L7, L7M, B16, SS304/SS304L, SS316/SS316L,
                    Inconel, Monel<br/>
                    Compliance to ASME, ANSI, DIN, BS, JIS Standards
                </p>
            </div>
        </div>
        <div class="products-flex-row-container">
            <div class="products-small-row-flex image-box">
                <img src="/images/Products/Bolts%20and%20Nuts%20-%20Fasteners/Hex%20Bolts.jpg">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>Head Bolts</strong><br/>
                    Type: Hex Head, Socket Head, Countersunk Allen Head, T Head, Square Head, Collar Head, Linear Head
                    <br/>Size: 1/4" to 4", M6 to M102<br/>
                    Length: as per project requirement<br/>
                    Finish: Zinc Plating, HDG, PTFE Xylan, Dacromet<br/>
                    Material Grades: 4.6, 5.8, 8.8, 10.9, 12.9, B7, B7M, L7, L7M, B16, SS304/SS304L, SS316/SS316L,
                    Inconel, Monel<br/>
                    Compliance to ASME, ANSI, DIN, BS, JIS Standards
                </p>
            </div>
        </div>
        <div class="products-flex-row-container">
            <div class="products-small-row-flex image-box">
                <img src="/images/Products/Bolts%20and%20Nuts%20-%20Fasteners/Anchor%20-%20Foundation%20Bolts.jpg">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>Anchor/Foundation Bolts</strong><br/>
                    Type: Straight Type, J Type, L Type, Nut Welded, Plate Welded, Nut & Plate Welded<br/>
                    <br/>Size: 1/4" to 4", M6 to M102<br/>
                    Length: as per project requirement<br/>
                    Finish: Zinc Plating, HDG, PTFE Xylan, Dacromet<br/>
                    Material Grades: 4.6, 5.8, 8.8, 10.9, 12.9, B7, B7M, L7, L7M, SS304/SS304L, SS316/SS316L, Inconel
                    <br/>
                    Compliance to ASME, ANSI, ASTM, BS, DIN, JIS Standards
                </p>
            </div>
        </div>
        <div class="products-flex-row-container">
            <div class="products-small-row-flex image-box">
                <img src="/images/Products/Bolts%20and%20Nuts%20-%20Fasteners/U%20Bolts.jpg">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>U Bolts</strong><br/>
                    Type: Rounded, Square, V Shaped<br/>
                    <br/>Size: 1/4" to 4", M6 to M102<br/>
                    Based on Pipe Size, Drawing and Dimensions<br/>
                    Finish: Zinc Plating, HDG, PTFE Xylan, Dacromet, Neoprene, Teflon Sleeved/Molded<br/>
                    Material Grades: 4.6, 5.8, 8.8, 10.9, B7, B7M, L7, L7M, SS304/SS304L, SS316/SS316L, Inconel<br/>
                    Compliance to ASME, ANSI, ASTM, BS, DIN, JIS Standards
                </p>
            </div>
        </div>
        <div class="products-flex-row-container">
            <div class="products-small-row-flex image-box">
                <img src="/images/Products/Bolts%20and%20Nuts%20-%20Fasteners/U%20Clamps.jpg">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>Pipe Clamps</strong><br/>
                    Type: c/U Shaped<br/>
                    Size: 3mm to 32mm<br/>
                    Based on Pipe Size, Drawing and Dimensions<br/>
                    Finish: Zinc Plating, HDG, PTFE Xylan, Dacromet<br/>
                    Material Grades: 4.6, 5.8, 8.8, 10.9, B7, B7M, L7, L7M, SS304/SS304L, SS316/SS316L, Inconel<br/>
                    Compliance to ASME, ANSI, BS, DIN, JIS Standards
                </p>
            </div>
        </div>
        <div class="bolts-and-nuts-bottom-para" style="">
            <p>
                Other Fasteners as dealt by Infinia Engineering are as follows:
            </p>
            <ol>
                <li>Hex Nuts, Heavy Hex Nuts, Lock Nuts</li>
                <li>Flat Washers, Hardened Washers, Spring Washers</li>
                <li>ANCO Lock Nuts</li>
                <li>Nord Lock Washers</li>
            </ol>
        </div>


    </div>

</div>