<div class="page-content">
    <div class="products-content-para">
        Infinia Engineering provides ones stop solutions for wide range of Electrical Products
    </div>
    <div class="pipefittings-flex-container container-fluid">
        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Electrical/Ground%20Rods/Threaded%20Ground%20Rods.jpg">
                    </div>
                    <div class="quality-label-box">
                        Threaded
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Electrical/Ground%20Rods/Threadless%20Ground%20Rod%20Couplings.png">
                    </div>
                    <div class="quality-label-box">
                        Threadless Couplings
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Ground Rods</strong><br/>
                    Type: Threaded, Threadless Couplings<br/>
                    Size: 1/2" to 5/8"<br/>
                    Material: Copper, Clad, HDG Iron, Stainless Steel<br/>
                    Compliance to BS970, AISI 1018<br/>
                </p>
            </div>
        </div>


        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Electrical/Cables/PVC%20Cables.png">
                    </div>
                    <div class="quality-label-box">
                        PVC Cables
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Electrical/Cables/XLPE%20Cable.png">
                    </div>
                    <div class="quality-label-box">
                        XLPE Cables
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Electrical/Cables/High%20Voltage%20Cable.png">
                    </div>
                    <div class="quality-label-box">
                        High Voltage Cables
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Cables</strong><br/>
                    Types: PVC,XLPE,Instrumentation Cables, High Voltage Cables<br/>
                    <strong>PVC Cables</strong><br/>
                    Specs:450/750V, 300/500V, 0.6/1.2kV<br/>
                    Applicable Standards: BS6004, BS6346, MS136, MS274<br/>
                    Cross Sectional Area: 1.5mm2 to 1000mm2<br/>
                    <strong>XLPE Cables</strong><br/>
                    Specs: upto 3.3kV to 33kV<br/>
                    Applicable Standards: BS5467, BS6622<br/>
                    Designs: Single Core and Three Core<br/>
                    Cross Sectional Area: 1.5mm2 to 1000 mm2<br/>
                    Maximum Conductor Temperature of 90 deg.C<br/>
                    <strong>High Voltage Cables</strong>
                    Rate Voltage: 69kV to 500kV<br/>
                    Copper or Aluminum conductor upto 5000 kcmil<br/>
                    Material:<br/>
                    1. Welded Aluminum Sheath, Aluminum or Copper laminated foil, or lead sheath<br/>
                    2. Copper or Aluminum Concentric Neutral Wire Screens
                </p>
            </div>
        </div>


        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Electrical/Cable%20Management/Cable%20Trays.jpg">
                    </div>
                    <div class="quality-label-box">
                        Cable Trays
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Electrical/Cable%20Management/Cable%20Clamps.png">
                    </div>
                    <div class="quality-label-box">
                        Cable Clamps
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Electrical/Cable%20Management/Cable%20Glands.png">
                    </div>
                    <div class="quality-label-box">
                        Cable Glands
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Electrical/Cable%20Management/Shear%20Bolt%20Connectors.png">
                    </div>
                    <div class="quality-label-box">
                        Connectors
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Cable Management</strong><br/>
                    <strong>Cable Trays:</strong> Ladder Type, Perforated Type, Bolted, FRP<br/>
                    <strong>Cable Clamps:</strong> Types - Groove, D, Mounting, Adapter, Saddle, Coupling<br/>
                    <strong>Cable Glands:</strong> Brass Indoor, Brass Outdoor, Brass Straitening Unarmored, Brass
                    Weather Proof, PG Threaded Gland<br/>
                    <strong>Connectors:</strong> Shear Bolt Connectors, Compression Terminals, Lugs, Split Bolt
                    Connectors<br/>
                    <strong>Sizes:</strong> As per Standards or Project Requirement<br/>
                    <strong>Material:</strong> Copper, Carbon Steel, Stainless Steel, PVC, uPVC and other Elastomers
                </p>
            </div>
        </div>
    </div>
</div>