<div class="page-content">
    <div class="products-content-para">
        <p>
            Flange is a method of connecting pipes, valves, pumps and other equipment to form a Piping System. Flange
            joints are made by bolting together two flanges with a Gasket between them to provide a seat.<br/>Infinia
             Engineering Supplies Fasteners in complaince to the project requirement.
        </p>
    </div>
    <div class="products-flex-container">
        <div class="products-flex-row-container">
            <div class="products-small-row-flex image-box">
                <img src="/images/Products/Flanges/Weld%20Neck%20Flange.jpg">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>Welding Neck Pipe Flange</strong><br/>
                    Type: Raised Face, Full Face, RTJ Facing<br/>
                    Dimensions can forming to ASME B16.50, DIN2633, ANSI B16.47, MSS S944, ANSI B16.36, ANSI B16.48,
                    BS4504, BS1560<br/>
                    For Nominal Pipe Size of 1/2" to 96" and its corresponding metric system<br/>
                    Standard Heights is 1/16" unless otherwise specified<br/>
                    Material: ASTM A182/A240-304/304L,316/316L,310,321,321H, Duplex, Super Duplex, Carbon Steel: A105,
                    A181, Alloy Steel, Copper, Inconel, Nickel, Monel, Hastelloy
                </p>
            </div>
        </div>
        <div class="products-flex-row-container">
            <div class="products-small-row-flex image-box">
                <img src="/images/Products/Flanges/Slip%20On%20Flange.jpg">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>Slip On Flange</strong><br/>
                    Material: ASTM A182/A240-304/304L,316,316L,310,321,321H, Duplex, Super Duplex, Carbon Steel: A105,
                    A181, Alloy Steel, Copper, Inconel, Nickel, Monel, Hastelloy<br/>
                    For Nominal Pipe Size of 1/2" to 96" and its corresponding metric system<br/>
                    Standard Heights is 1/16" unless otherwise specified<br/>
                    Class: 150#, 300#, 400#, 600#, 900# 1500#, 2500#<br/>
                    Dimension conforming to ANSI B16.5, 16.47, 16.48, MSS SP44, DIN, BS4504, BS1560, BS10
                </p>
            </div>
        </div>
        <div class="products-flex-row-container">
            <div class="products-small-row-flex image-box">
                <img src="/images/Products/Flanges/Lap%20Joint%20Flange.jpg">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>Lap Joint Flange</strong><br/>
                    Material: ASTM A182/A240-304/304L,316/316L, 310, 321, 321H, Duplex, Super Duplex, Carbon Steel: A105
                    , A181, Alloy Steel, Copper, Inconel, Nickel, Monel, Hastelloy
                    For Nominal Pipe Size of 1/2" to 96" and its corresponding metric system<br/>
                    Type: Stub Ends in A,B,C<br/>
                    Class: 150#, 300#, 400#, 600#, 900#, 1500#, 2500#<br/>
                    Dimension conforming to ANSI B16.5, 16.47, 16.48, MSS SP44, DIN, BS4504, BS1560, BS10
                </p>
            </div>
        </div>
        <div class="products-flex-row-container">
            <div class="products-small-row-flex image-box">
                <img src="/images/Products/Flanges/Blind%20Flange.png">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>Blind Flange</strong><br/>
                    Material: ASTM A182/A240-304/304L,316/316L, 310, 321, 321H, Duplex, Super Duplex, Carbon Steel: A105
                    , A181, Alloy Steel, Copper, Inconel, Nickel, Monel, Hastelloy
                    Type: Spectacle, Raised Face, RTJ<br/>
                    For Nominal Pipe Size of 1/2" to 96" and its corresponding metric system<br/>
                    Type: Stub Ends in A,B,C<br/>
                    Class: 150#, 300#, 400#, 600#, 900#, 1500#, 2500#<br/>
                    Dimension conforming to ANSI B16.5, 16.47, 16.48, MSS SP44, DIN, BS4504, BS1560, BS10
                </p>
            </div>
        </div>
        <div class="products-flex-row-container">
            <div class="products-small-row-flex image-box">
                <img src="/images/Products/Flanges/Socket%20Weld%20Flange.png">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>Socket Weld Flange</strong><br/>
                    Material: ASTM A182/A240-304/304L,316/316L, 310, 321, 321H, Duplex, Super Duplex, Carbon Steel: A105
                    , A181, Alloy Steel, Copper, Inconel, Nickel, Monel, Hastelloy
                    Type: Spectacle, Raised Face, RTJ<br/>
                    For Nominal Pipe Size of 1/2" to 96" and its corresponding metric system<br/>
                    Type: Stub Ends in A,B,C<br/>
                    Class: 150#, 300#, 400#, 600#, 900#, 1500#, 2500#<br/>
                    Dimension conforming to ANSI B16.5, 16.47, 16.48, MSS SP44, DIN, BS4504, BS1560, BS10
                </p>
            </div>
        </div>
        <div class="products-flex-row-container">
            <div class="products-small-row-flex image-box">
                <img src="/images/Products/Flanges/Threaded%20Flange.png">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>Threaded Flange</strong><br/>
                    Material: ASTM A182/A240-304/304L,316/316L, 310, 321, 321H, Duplex, Super Duplex, Carbon Steel: A105
                    , A181, Alloy Steel, Copper, Inconel, Nickel, Monel, Hastelloy
                    Type: Spectacle, Raised Face, RTJ<br/>
                    For Nominal Pipe Size of 1/2" to 96" and its corresponding metric system<br/>
                    Type: Stub Ends in A,B,C<br/>
                    Class: 150#, 300#, 400#, 600#, 900#, 1500#, 2500#<br/>
                    Dimension conforming to ANSI B16.5, 16.47, 16.48, MSS SP44, DIN, BS4504, BS1560, BS10
                </p>
            </div>
        </div>
    </div>
    <div class="flange-flex-pictures-container">
        <div class="flange-img-label-container">
            <div class="image-box">
                <img src="../images/Products/Flanges/Orifice%20Flange.png">
            </div>
            <div class="quality-label-box">Orifice Flange</div>
        </div>
        <div class="flange-img-label-container">
            <div class="image-box">
                <img src="../images/Products/Flanges/Expander%20Flange.jpg">
            </div>
            <div class="quality-label-box">Expander Flange</div>
        </div>
        <div class="flange-img-label-container">
            <div class="image-box">
                <img src="../images/Products/Flanges/Groove%20and%20Tongue%20Flange.png">
            </div>
            <div class="quality-label-box">Groove and Tongue Flange</div>
        </div>
        <div class="flange-img-label-container">
            <div class="image-box">
                <img src="../images/Products/Flanges/Weld%20Neck%20Flange.jpg">
            </div>
            <div class="quality-label-box">Weld Neck Flange</div>
        </div>
        <div class="flange-img-label-container">
            <div class="image-box">
                <img src="../images/Products/Flanges/Reducing%20Flange.png">
            </div>
            <div class="quality-label-box">
                Reducer Flange
            </div>
        </div>
    </div>
    <!--<div class="col-xs-12">-->
        <!--<div class="image-box">-->
            <!--<div>-->
                <!--<img src="/images/Products/Flanges/Orifice%20Flange.png">-->
            <!--</div>-->
            <!--<div class="quality-label-box">-->
                <!--Orifice Flange-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="image-box">-->
            <!--<div>-->
                <!--<img src="/images/Products/Flanges/Expander%20Flange.jpg">-->
            <!--</div>-->
            <!--<div class="quality-label-box">-->
                <!--Expander Flange-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="image-box">-->
            <!--<div>-->
                <!--<img src="/images/Products/Flanges/Groove%20and%20Tongue%20Flange.png">-->
            <!--</div>-->
            <!--<div class="quality-label-box">-->
                <!--Groove & Tongue Flange-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="image-box">-->
            <!--<div>-->
                <!--<img src="/images/Products/Flanges/WeldoFlange.png">-->
            <!--</div>-->
            <!--<div class="quality-label-box">-->
                <!--Weldoneck Flange-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="image-box">-->
            <!--<div>-->
                <!--<img src="/images/Products/Flanges/Reducing%20Flange.png">-->
            <!--</div>-->
            <!--<div class="quality-label-box">-->
                <!--Reducer Flange-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>