<div class="page-content">
    <div class="products-content-para">
        <p>
            Gaskets is a mechanical seal which fills the space between two or more mating surfaces, generally to
            prevent leakage from or into the joined objects under compression.<br/>Infinia Engineering Supplies
            Fasteners in compliance to the project requirement.
        </p>
    </div>
    <div class="products-flex-container">
        <div class="products-flex-row-container">
            <div class="products-small-row-flex image-box">
                <img src="/images/Products/Gaskets/Spiral%20Wound%20Gaskets.jpg">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>Spiral Wound Gaskets</strong><br/>
                    Material Strip Material: SS316/SS316L, SS304/SS304L, SS321, SS310, Duplex, Super Duplex, Monel 400,
                    Inconel 600/625/800/825, Nickel, Titanium, Hastelloy<br/>
                    Filler Material: PTFE, Ceramic, Graphite, Graflex, Asbestos Free<br/>
                    Nominal Thickness: 3.2mm, 4.5mm, 6.4mm, 7.2mm<br/>
                    Center/Inner Ring: Carbon Steel, Stainless Steel, Monel, Nickel, Inconel, Titanium<br/>
                    Compliance to BS, NACE, API, ASME, DIN, ASTM, JIS Standards.
                </p>
            </div>
        </div>
        <div class="products-flex-row-container">
            <div class="products-small-row-flex image-box">
                <img src="/images/Products/Gaskets/Kammprofile%20Gaskets.jpg">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>Kammprofile Gaskets</strong><br/>
                    Core Materials: SS304/304L, SS316/316L, Duplex, Super Duplex, Monel, Inconel, Titanium, Hastelloy
                    <br/>
                    Facing Material: Graphite, PTFE, Mka, Ceramic<br/>
                    Design and Dimensions as per Project Requirement
                    Compliance to NACE, ASME, API, ASTM, DIN, BS, JIS Standards
                </p>
            </div>
        </div>
        <div class="products-flex-row-container">
            <div class="products-small-row-flex image-box">
                <img src="/images/Products/Gaskets/Metal%20Jacketed%20Gasket.png">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>Metal Jacketed Gaskets</strong><br/>
                    Jacket Materials: Soft Iron, SS304/304L, SS316/316L, SS321, SS410, Brass, Copper, Monel, Aluminum,
                    Incoloy, Titanium, Nickel, Hastelloy<br/>
                    Soft Fillers: Non Asbestos, CAF, Fubber, Woven Asbestos, PTFE, Graflex, Graphite, Asbestos<br/>
                    Type: Double Jacketed Corrugated - Soft Fillers, Metal Fillers, Single Jacketed -Soft Filler Partly
                    Enclosed, Metal Filler Partly Enclosed, Soft Filler Open Outside Edge, Metal Jacket Laminates-Soft
                    Filler, Single Corrugated-No Fillers<br/>
                    Compliance to NACE, API, ASME, ASTM, BS, DIN, JIS Standards
                </p>
            </div>
        </div>
        <div class="products-flex-row-container">
            <div class="products-small-row-flex image-box">
                <img src="/images/Products/Gaskets/Non%20Asbestos%20Gaskets.jpg">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>Non-Asbestos Gaskets</strong><br/>
                    Type: Full Face, Raised Face<br/>
                    Material Type: NBR, SBR, Neoprene, EPDM, PTFE, Viton, FKM<br/>
                    Compliance to ASME, NACE, API, ASTM, BS, DIN, JIS Standards
                </p>
            </div>
        </div>
        <div class="products-flex-row-container">
            <div class="products-small-row-flex image-box">
                <img src="/images/Products/Gaskets/Flange%20Isolation-Insulation%20Kit.jpg">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>Flange Isolation Gasket Kit</strong><br/>
                    Type: Full Faced, Raised Face<br/>
                    Consists of Gaskets, Sleeves, Stud Bolts, Hex Nuts, Washers<br/>
                    Material: PE, Phenolic, Mylar, PTFE, etc.<br/>
                    Compliance to BS, NACE, API, ASME, DIN, ASTM, JIS Standards
                </p>
            </div>
        </div>
        <div class="products-flex-row-container">
            <div class="products-small-row-flex image-box">
                <img src="/images/Products/Gaskets/Ring%20Joint%20Gasket.jpg">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>Ring Joint Gaskets</strong><br/>
                    Type: Oval, Octagonal -R, RX, BX<br/>
                    Material: SS304/304L, SS316/316L, Soft Iron, Inconel, Monel, Titanium Hastelloy<br/>
                    Compliance to BS, NACE, API, ASME, DIN, ASTM, JIS Standards
                </p>
            </div>
        </div>
        <div class="products-flex-row-container">
            <div class="products-small-row-flex image-box">
                <img src="/images/Products/Gaskets/O%20Rings.jpg">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>O-Rings</strong><br/>
                    Type: Oval, Octagonal -R, RX, BX<br/>
                    Material: SS304/304L, SS316/316L, Soft Iron, Inconel, Monel, Titanium Hastelloy<br/>
                    Compliance to BS, NACE, API, ASME, DIN, ASTM, JIS Standards
                </p>
            </div>
        </div>
    </div>
    <div class="products-content-para">
        <p>
            <strong>++ Custom Designed Gaskets as per Drawing and Dimensions</strong>
        </p>
    </div>
</div>