<div class="page-content">
    <!--<div class="products-content-para">-->
    <!--</div>-->
    <div class="pipefittings-flex-container container-fluid">
        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Wire%20Rope/Galvanized%20Steel%20Wire%20Rope.jpg">
                    </div>
                    <div class="quality-label-box">
                        Galvanized Steel Wire Rope
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Wire%20Rope/Stainless%20Steel%20Wire%20Rope.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Stainless Steel Wire Rope
                        
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Wire Rope</strong>
                    Types: Stainless Steel, Galvanized
                    <strong>Stainless Steel Wire Rope Type</strong>
                    <strong>1X19, Non Flexible Low Stretch</strong>
                    Size: 1mm to 19mm in Cable Diameter
                    Tensile Strength:1570MPa
                    MBL: 0.82 To 297.45kN, 84Kgs to 30332Kgs
                    WLL: 0.16kN to 59.49kN, 17Kgs to 6066Kgs
                    <strong>7X7, Flexible</strong>
                    Size: 0.54mm to 12mm in Cable Diameter
                    Tensile Strength: 1570MPa
                    MBL: 16 To 8279Kgs, 0.16 to 81.16kN
                    <strong>7X19, Extra Flexible</strong>
                    Size: 0.75mm to 16mm, in Cable Diameter
                    Tensile Strength: 1570MPa
                    MBL: 40 To 14837Kgs, 0.39 to 145.5kN
                    WLL: 8 To 2967Kgs, 0.08 to 29.1kN
                    <strong>Galvanized Steel Wire Rope Type</strong>
                    <strong>7X7, Flexible Type</strong>
                    Size: 1mm to 10mm, in Cable Diameter
                    Tensile Strength: 1770MPa
                    MBL: 0.69 To 63.55kN, 70 To 6480Kgs
                    WLL: 14 To 1296Kgs, 0.14 to 12.71kN
                    <strong>7X19, Extra Flexible</strong>
                    Size:3mm to 16mm, in Cable Diameter
                    Tensile Strength: 1770MPa
                    MBL: 540 To 16400Kgs, 5.3 To 160.83kN
                    WLL: 108 To 3280Kgs, 1.06 To 32.17kN
                    <strong>19X7, Extra Flexible Low Rotation</strong>
                    Size: 3 To 10mm, in Cable Diameter
                    Tensile Strength: 1960MPa
                    MBL: 589 To 6555Kgs, 5.78 To 64.28kN
                    WLL: 117 To 13311Kgs, 1.15 To 12.86kN
                </p>
            </div>
        </div>


        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Ferrules/Cylindrical%20Stop%20Ferrules.jpg">
                    </div>
                    <div class="quality-label-box">
                        Cylindrical Stop Ferrules
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Ferrules/Double%20Loop%20Ferrules.png">
                    </div>
                    <div class="quality-label-box">
                        
                            Double Loop Ferrules
                        
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Ferrules/Loop%20Ferrules.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Loop Ferrules
                        
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Ferrules/Stop%20Ferrules.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Stop Ferrules
                        
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Ferrules</strong><br/>
                    Types: Eyes & Loops, Stop Ferrules, Double Stop, Cylindrical Stop, Thin Walled<br/>
                    Material: Aluminum, Copper, Stainless Steel<br/>
                    <strong>Aluminum Loop Ferrules for Galvanized Steel Wire Rope</strong><br/>
                    For Steel Core Wire Rope Diameter: 0.80mm (min.) - 1.00mm (max.) to 10.6mm (min.) - 11.50mm
                    (max.)<br/>
                    Diameter after Swaging: 3mm to 24mm<br/>
                    Swaging Pressure Required: 5kN To 720kN<br/>
                    <strong>Aluminum Stop Ferrules for Galvanized Wire Rope</strong><br/>
                    For Steel Core Wire Rope Diameter: 1.00mm (min.) - 1.50mm (max.) to 6.7mm (min.) - 8mm (max.)<br/>
                    Diameter after Swaging: 3.80mm to 16mm<br/>
                    Swaging Pressure Required: 3.80kN To 410kN<br/>
                    <strong>Copper Loop Ferrules for Stainless Steel Wire Rope</strong><br/>
                    For Steel Core Wire Rope Diameter: 0.80mm (min.) - 1.00mm (max.) to 5.9mm (min.) - 6.2mm (max.)<br/>
                    Diameter after Swaging: 3.80mm to 13mm<br/>
                    Swaging Pressure Required: 5.0kN To 210kN<br/>
                    <strong>Copper Stop Ferrules for Stainless Steel Wire Rope</strong><br/>
                    For Steel Core Wire Rope Diameter: 1.00mm (min.) - 1.50mm (max.) to 4.8mm (min.) - 6mm (max.)<br/>
                    Diameter after Swaging: 3.80mm to 12mm<br/>
                    Swaging Pressure Required: 20kN To 410kN<br/>
                    <strong>Stainless Steel Loop Ferrules for Stainless Steel Wire Rope</strong><br/>
                    For Steel Core Wire Rope Diameter: 0.0mm (min.) - 1.00mm (max.) to 5.1mm (min.) - 6.1mm (max.)<br/>
                    Diameter after Swaging: 3.60mm to 12mm<br/>
                    Swaging Pressure Required: 70kN To 600kN<br/>
                    <strong>Stainless Steel Thin Walled Ferrules</strong><br/>
                    Fits Cable Diameter: 1mm to 6mm<br/>
                    Internal Hole Diameter: 1.2mm to 6.4mm<br/>
                    Outer Diameter: 3mm to 10mm<br/>
                    Length: 6mm to 16mm<br/>
                    <strong>Stainless Steel Cylindrical Stops Ferrules</strong><br/>
                    Fits Cable Diameter: 1/16" to 3/16", 1.5mm to 5mm<br/>
                    Internal Hole Diameter: 4.70mm to 9.4mm<br/>
                </p>
            </div>
        </div>


        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Wire%20Rope%20Grips%20and%20Clamps/Wire%20Rope%20Clamps.jpg">
                    </div>
                    <div class="quality-label-box">
                        Wire Rope Clamps
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Wire%20Rope%20Grips%20and%20Clamps/Wire%20Rope%20Grips%20Type%2002.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Wire Rope Grips Type 2002
                        
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Wire%20Rope%20Grips%20and%20Clamps/Wire%20Rope%20Grips.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Wire Rope Grips
                        
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Wire Rope Grips and Clamps</strong><br/>
                    <strong>Grips</strong><br/>
                    Types: Simplex, Duplex, Bulldog Grips<br/>
                    For Wire Rope Size: 2mm to 8mm, 1X19, 7X7mm<br/>
                    <strong>Bulldog Clamps</strong><br/>
                    Compliance Standards: DIN741, EN13411-5<br/>
                    Size: 1.50MM To 10mm<br/>
                    For Stainless Steel Wire Rope and Galvanized Steel Wire Rope
                </p>
            </div>
        </div>

        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Swage%20Stud%20Terminals/Closed%20Body%20Swage.jpg">
                    </div>
                    <div class="quality-label-box">
                        Closed Body Swage
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Swage%20Stud%20Terminals/Cone%20Head%20Terminal%20Swage.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Cone Head Terminal Swage
                        
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Swage%20Stud%20Terminals/Jaw%20and%20Swage%20Rigging%20Stud%20Terminals.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Jaw and Swage Rigging Stud Terminal
                        
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Swage%20Stud%20Terminals/Open%20Body%20Swage.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Open Body Swage
                        
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Swage%20Stud%20Terminals/Swage%20Fork%20Terminals.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Swage Fork Terminals
                        
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Swage Terminals</strong><br/>
                    Jaw and Stud Rigging Screw<br/>
                    Types: Jaw and Stud Rigging Screw Super Mini Type, Jaw and Stud Rigging Screw Standard Type<br/>
                    To Suit Rope: 3mm to 8mm<br/>
                    Break Load: 1500Kgs to 9500Kgs<br/>
                    <strong>Swage Stud Terminals</strong><br/>
                    Types: Open Body Swage, Closed Body Swage, Jaw Terminal Swage, Eye Terminal Swage Type, Cone Head
                    Terminal, Swage Stud<br/>
                    Terminal with Nut<br/>
                    To Suit Wire Rope:3mm to 26mm,<br/>
                    Hole Diameter: M6 to M36, 1/4" To 1-3/8"<br/>
                    Thread Type: UNF, UNC, Metric<br/>
                    Thread Way: Left Hand Thread, Right Hand Thread<br/>
                </p>
            </div>
        </div>



        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Clevis%20and%20Turnbuckle/Jaw%20and%20Jaw%20Turnbuckle.jpg">
                    </div>
                    <div class="quality-label-box">
                        Jaw and Jaw Turnbuckle
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Clevis%20and%20Turnbuckle/Forged%20Clevis.jpg">
                    </div>
                    <div class="quality-label-box">
                        Forged Clevis
                    </div>
                </div >
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Clevis%20and%20Turnbuckle/Hook%20and%20Eye%20Turnbuckle.jpg">
                    </div>
                    <div class="quality-label-box">
                        Hook and Eye Turnbuckle
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Clevis%20and%20Turnbuckle/Hook%20and%20Hook%20Turnbuckle.jpg">
                    </div>
                    <div class="quality-label-box">
                        Hook and Hook Turnbuckle
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Clevis%20and%20Turnbuckle/Jaw%20and%20Eye%20Turnbuckle.jpg">
                    </div>
                    <div class="quality-label-box">
                        Jaw and Eye Turnbuckle
                    </div>
                </div>

            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Clevis and Turnbuckles</strong>
                    Types: Fork and Swage, Fork and Self Assembly, Fork and Fork, Fork and Swage Rigging Screw, Hook
                    and Eye, Eye and Eye, Hook and Hook, Jaw and Jaw, Jaw and Jaw Rigging<br/>
                    <strong>Fork and Swage</strong><br/>
                    Material: Carbon Steel, Stainless Steel<br/>
                    For Wire Rope: 3mm to 12mm<br/>
                    Minimum Breaking Load: 1319Kgf to 14061Kgf<br/>
                    <strong>Fork and Fork</strong><br/>
                    Thread Size: 1/4", 5/16", 3/8"<br/>
                    Material: Carbon Steel, Stainless Steel<br/>
                    Minimum Breaking Load: 2901Kgf to 7176Kgf<br/>
                    <strong>Eye and Eye</strong><br/>
                    Thread Size: M5 to M20<br/>
                    Material: Carbon Steel, Stainless Steel<br/>
                    Working Capacity: upto 2.15 Tons<br/>
                    <strong>Jaw and Eye</strong><br/>
                    Thread Size: M5 to M20<br/>
                    Material: Carbon Steel, Stainless Steel<br/>
                    Working Capacity: upto 2.15 Tons<br/>
                    <strong>Clevis</strong><br/>
                    Type: Left Hand Thread, Right Hand Thread<br/>
                    Material: C-135, SA182 F11,F22, Stainless Steel<br/>
                    Finish: Self Colored, Hot Dip Galvanized, Electroplated<br/>
                    Optional: Heat Treatment<br/>
                    Design Factor<br/>
                    1. Maximum Working Loads, 5:1 or 3:1 using the maximum pin diameter<br/>
                    2. Thread Diameter 5/8" to 4"
                </p>
            </div>
        </div>

        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Hooks,%20Shackles%20and%20Eye%20Bolts/Bow%20Shackles.jpg">
                    </div>
                    <div class="quality-label-box">
                        Bow Shackles
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Hooks,%20Shackles%20and%20Eye%20Bolts/D%20Shackles.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            D Shackles
                        
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Hooks,%20Shackles%20and%20Eye%20Bolts/Eye%20Nuts.jpg">
                    </div>
                    <div class="quality-label-box">
                        Eye Nuts
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Hooks,%20Shackles%20and%20Eye%20Bolts/Eye%20Tabs.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Eye Tabs
                        
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Hooks,%20Shackles%20and%20Eye%20Bolts/Grab%20Hooks.jpg">
                    </div>
                    <div class="quality-label-box">
                        Grab Hooks
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Hooks,%20Shackles%20and%20Eye%20Bolts/Lifting%20Eye%20Bolts.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Lifting Eye Bolts
                        
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Hooks,%20Shackles%20and%20Eye%20Bolts/Lifting%20Shackles.jpg">
                    </div>
                    <div class="quality-label-box">
                        Lifting Shackles
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Hooks,%20Shackles%20and%20Eye%20Bolts/Shoulder%20Eye%20Bolts.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Shoulder Eye Bolts
                        
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Hooks,%20Shackles%20and%20Eye%20Bolts/Slip%20Hooks.jpg">
                    </div>
                    <div class="quality-label-box">
                        Slip Hooks
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Hooks,%20Shackles%20and%20Eye%20Bolts/Swing%20Bolts.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Swing Bolts
                        
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Hooks, Shackles and Eye Bolts</strong><br/>
                    <strong>Shackles</strong><br/>
                    Types: Lifting Shackles, Bow Shackles, D Shackles, Safety Pin, Screw Pin, BS, DNV Approved, Crosby,
                    Green Pin<br/>
                    Accessories: Split Pin, Captive Pin, Slot Pin, Socket Drive,<br/>
                    Rod Diameter: 1/4" To 2-1/2"<br/>
                    Safe Working Load: upto 25 Tons<br/>
                    Proof Load: 1430 to 55000 lbs<br/>
                    Ultimate Breaking Strength: 3250 to 125000lbs<br/>
                    Material: Hardened and Tempered Carbon Steel, Alloy Steel, Stainless Steel<br/>
                    <strong>Hooks</strong><br/>
                    Types: Grab Hooks, Slip Hooks<br/>
                    Design Factor: 5:1<br/>
                    Nominal Bow Diameter: 3/16" to 1-3/8"<br/>
                    Deformation Factor: 1.50 to 10.00<br/>
                    Material: Hardened and Tempered Carbon Steel, Alloy Steel, Stainless Steel<br/>
                    <strong>Eye Bolts and Eye Nuts</strong><br/>
                    Types: Lifting Eye Bolts, Swing Bolts, Shoulder Eye Bolts, Open Eye Bolts, Welded Eye Bolts, Eye
                    Tabs, Eye Nuts<br/>
                    Material: Hardened and Tempered Carbon Steel, Alloy Steel, Stainless Steel<br/>
                    Size: 1/4" to 2", and its respective in metrics<br/>
                    Coating: Phosphating, Black Oxidized, Hot Dip Galvanized, Bright Polished, Electro Galvanized,
                    PTFE Xylan<br/>
                    Minimum Design Factor: 5:1<br/>
                </p>
            </div>
        </div>

        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Swivels%20and%20Pivoting/Anchor%20Chain%20Swivels.jpg">
                    </div>
                    <div class="quality-label-box">
                        Anchor Chain Swivels
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Swivels%20and%20Pivoting/Ball%20Swivels.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Ball Swivels
                        
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Swivels%20and%20Pivoting/Float%20Swivels.jpg">
                    </div>
                    <div class="quality-label-box">
                        Float Swivels
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Swivels%20and%20Pivoting/Mooring%20Chain%20Swivels.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Mooring Chain Swivels
                        
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Lifting%20and%20Riggings/Swivels%20and%20Pivoting/Mooring%20Chain.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Mooring Chain
                        
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Swivels and Pivoting</strong><br/>
                    <strong>Mooring Chain Swivels</strong><br/>
                    Nominal Diameter: 76mm to 95mm<br/>
                    Length: 714mm to 919mm<br/>
                    Minimum Breaking Load: 5160 to 8120kN<br/>
                    Forged or Cast Grade 4 Steel<br/>
                    Certified by ABS, DNV<br/>
                    <strong>Anchor Chain Swivels</strong><br/>
                    Nominal Diameter(D1 X D2):91X98, 76X78,58X62,84X92mm<br/>
                    Minimum Breaking Load: 6500 to 7210kN<br/>
                    Forged or Cast Grade 4 Steel<br/>
                    <strong>Ball Swivels</strong><br/>
                    Nominal Diameter: 76 to 94mm<br/>
                    Minimum Breaking Load: 5300 to 7950kN<br/>
                    Forged or Cast Grade 4 Steel<br/>
                    Certified by ABS, DNV and Others<br/>
                    <strong>Float Swivel</strong><br/>
                    Nominal Diameter:130mm<br/>
                    Minimum Breaking Load: 6001kN<br/>
                    Forged or Cast Grade 4 Steel<br/>
                    Certified by ABS, DNV and Others<br/>
                    <strong>Pivoting</strong><br/>
                    Load Capacity:909 to 9091Kgs<br/>
                    Cap Screw Size: 5/16"-18UNC/UNF X 1" to 1/2"-13UNC/UNF X 2-1/4"
                </p>
            </div>
        </div>
    </div>
</div>

