<div class="nav-row">
    <div class="nav-container">
        <nav class="navbar navbar-inverse" style="margin-bottom: 0px; border: none;">
            <div class="nav-background">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding: 0;">
                    <ul class="nav navbar-nav">
                        <li onclick=changeActivePillsClass(this)><a href="/pages/About.html">About
                            Us<span class="sr-only"></span></a></li>
                        <li onclick=changeActivePillsClass(this)><a href="/pages/Industry.html">Industries Served
                        </a></li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Products<span class="caret"></span></a>
                            <ul class="dropdown-menu dropdown-menu-background">
                                <li><a href="#" onclick=changeBodyContent("/components/boltsNnuts.html")>Bolts & Nuts (Fasteners)</a></li>
                                <li><a href="#" onclick=changeBodyContent("/components/gaskets.html")>Gaskets & O-Rings</a></li>
                                <li><a href="#" onclick=changeBodyContent("/components/flanges.html")>Flanges</a></li>
                                <li><a href="#" onclick=changeBodyContent("/components/valves.html")>Valves</a></li>
                                <li><a href="#" onclick=changeBodyContent("/components/pipefittings.html")>Pipes & Fittings</a></li>
                                <li><a href="#" onclick=changeBodyContent("/components/structuralsteel.html")>Structural Steel</a></li>
                                <li><a href="#" onclick=changeBodyContent("/components/electricals.html")>Electricals</a></li>
                                <li><a href="#" onclick=changeBodyContent("/components/automation.html")>Instrumentation & Automation</a></li>
                                <li><a href="#" onclick=changeBodyContent("/components/rubberelastomers.html")>Rubber & Elastomer</a></li>
                                <li><a href="#" onclick=changeBodyContent("/components/liftingrigging.html")>Liftings & Riggings</a></li>
                            </ul>
                        </li>
                        <li onclick=changeActivePillsClass(this)><a href="/pages/Quality.html">Quality Control</a></li>
                        <li onclick=changeActivePillsClass(this)><a href="/pages/Projects.html">Projects</a></li>
                        <li onclick=changeActivePillsClass(this)><a href="#">Careers</a></li>
                        <li onclick=changeActivePillsClass(this)><a href="/pages/Contact.html">Contacts</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>