<div class="page-content">
    <div class="products-content-para">
        A pipe fitting is defined as a part used in a piping system, for changing direction, branching or for change of
        pipe diameter, and which is mechanically joined to the system. There are many different types of fittings and
        they are all same in all sizes and schedules as the pipe. <br/>
        Infinia Engineering Supplies Pipe Fittings in compliance to the project requirement.
    </div>
    <div class="pipefittings-flex-container container-fluid">
        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/PipeFittings/Socket%20Weld%20Fittings/Elbow%20-%20Socket%20Weld%20Fittings.jpg">
                    </div>
                    <div class="quality-label-box">
                        Elbows
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/PipeFittings/Socket%20Weld%20Fittings/Tees%20-%20Socket%20Weld%20Fittings.jpg">
                    </div>
                    <div class="quality-label-box">
                            Tees
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/PipeFittings/Socket%20Weld%20Fittings/Couplings%20-%20Socket%20Weld%20Fittings.jpg">
                    </div>
                    <div class="quality-label-box">
                            Couplings
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/PipeFittings/Socket%20Weld%20Fittings/Plugs%20-%20Socket%20Weld%20Fittings.jpg">
                    </div>
                    <div class="quality-label-box">
                            Plugs
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Socket Weld Fittings</strong><br/>
                    Type: Elbows, Tees, Crosses, Couplings, Half-Couplings, End or Pipe Caps, Plugs, Bushings<br/>
                    Class: 2000, 3000, 6000, 9000<br/>
                    Size: 1/8” to 4”, or DN6 – DN100<br/>
                    Compliance Standards: ASME 16.11,MSS SP-79,83,95,97, BS3799<br/>
                    Material: Carbon Steel, Alloy Steel, Stainless Steel (ASTM A182), Hastelloy, Inconel, Monel,
                    Copper Nickel
                </p>
            </div>
        </div>


        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/PipeFittings/Butt%20Weld%20Fittings/Elbow%20-%20Butt%20Weld%20Fittings.jpg">
                    </div>
                    <div class="quality-label-box">
                        Elbows
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/PipeFittings/Butt%20Weld%20Fittings/Reducers%20-%20Butt%20Weld%20Fittings.jpg">
                    </div>
                    <div class="quality-label-box">
                            Reducers
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/PipeFittings/Butt%20Weld%20Fittings/Tee%20-%20Butt%20Weld%20Fittings.jpg">
                    </div>
                    <div class="quality-label-box">
                            Tees
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/PipeFittings/Butt%20Weld%20Fittings/Stub%20Ends%20-%20Butt%20Weld%20Fittings.jpg">
                    </div>
                    <div class="quality-label-box">
                            Stub Ends
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/PipeFittings/Butt%20Weld%20Fittings/End%20Caps%20-%20Butt%20Weld%20Fittings.jpg">
                    </div>
                    <div class="quality-label-box">
                            End Caps
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Butt Weld Fittings</strong><br/>
                    Type: Elbow:45,90 long and short radius, End Caps, Reducers - eccentric, concentric, Stub Ends,
                    Tees Equal and Reducing <br/>
                    Class: 2000, 3000, 6000, 9000<br/>
                    Size: 1/8” to 4”, or DN6 – DN100<br/>
                    Compliance Standards: ASME B16.25, ASME B16.9, NACE MR0175, MSS SP-25, MSS SP-43, MSS SP-87<br/>
                    Material: Carbon Steel, Alloy Steel, Stainless Steel, Duplex, Super Duplex, Iconel, Monel,
                    Hastelloy, Titanium
                </p>
            </div>
        </div>


        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/PipeFittings/Threaded%20Pipe%20Fittings/Elbow%20-%20Threaded%20Pipe%20Fittings.jpg">
                    </div>
                    <div class="quality-label-box">
                        Elbows
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/PipeFittings/Threaded%20Pipe%20Fittings/Tees%20-%20Threaded%20Pipe%20Fittings.jpg">
                    </div>
                    <div class="quality-label-box">
                            Tees
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/PipeFittings/Threaded%20Pipe%20Fittings/Nipples%20-%20Thread%20Pipe%20Fittings.jpg">
                    </div>
                    <div class="quality-label-box">
                            Nipples
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/PipeFittings/Threaded%20Pipe%20Fittings/Plugs%20-%20Threaded%20Fittings.jpg">
                    </div>
                    <div class="quality-label-box">
                            Plugs
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/PipeFittings/Threaded%20Pipe%20Fittings/Unions%20-%20Threaded%20Pipe%20Fittings.jpg">
                    </div>
                    <div class="quality-label-box">
                            Unions
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Forged Threaded Fittings</strong><br/>
                    Type: Elbow, Tees, Nipples, Couplings, Socket, Plug, Unions, Bushings<br/>
                    Size: 1/16" to 12", NPT Thread<br/>
                    Class: 2000, 3000, 6000, 9000<br/>
                    Material: Carbon Steel, Alloy Steel, Stainless Steel, Duplex Steel, Super Duplex Steel,
                    Nickel Alloy Steel, Copper Alloy Steel<br/>
                    Compliance Standards to ANSI B 16.11, MSS SP 114, MSS SP 83
                </p>
            </div>
        </div>

        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/PipeFittings/Olets/Weldolet.jpg">
                    </div>
                    <div class="quality-label-box">
                        Weldolet
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/PipeFittings/Olets/Threadolet.jpg">
                    </div>
                    <div class="quality-label-box">
                            Threadolet
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/PipeFittings/Olets/Nipolet.jpg">
                    </div>
                    <div class="quality-label-box">
                            Nipolet
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/PipeFittings/Olets/Coupolet.jpg">
                    </div>
                    <div class="quality-label-box">
                            Coupolet
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Olets</strong><br/>
                    Type: Weldolet, Sockolet, Threadolet, Nipolet, Latrolet, Elbolet, Sweepolet, Brazolet, Coupolet,
                    Flexolet Butt Weld, Nipoflange<br/>
                    Size: 1/8" to 48"(outside diameter) and as per project requirment<br/>
                    Material: Carbon Steel A105 - Normalized, Low Temp Carbon Steels - LF2, LF3, WPL6, WPL3,
                    Stainless Steel, Nickel Alloys, Chromoloy Alloys<br/>
                    Class: 125,150,300,400,600,800,900,1500,3000,6000,9000<br/>
                    Painting: Anti-Rust Pain<br/>
                    Compliance Standards: ANSI/ASME B16.11, MSS SP 97, NPT B2.1, BSPP, BSPT, JB, DIN
                </p>
            </div>
        </div>



        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/PipeFittings/PipeTubes/Pipes%20and%20Tubes.jpg">
                    </div>
                    <div class="quality-label-box">
                        Pipes & Tubes
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Pipes & Tubes</strong><br/>
                    Type: Welded, Seamless, Cold Drawn, Hot Forged<br/>
                    Material: PVC,uPVC<br/>
                    Carbon Steel: ASTM-A500/A500M,A53,A795,A252,EN10219,EN10217,BS1387<br/>
                    Nickel Alloys:Nickel-200,400,600,601,625,800,C276,20,Duplex,Super Duplex<br/>
                    Alloy Steel: ASTM-A335 P1,P2,P5,P5b,P9,P11,P22,P23,P91,P92, ASTM-A213 T2,T5,T5c,T9,T11,T12,T23,
                    T91,T92<br/>
                    Size: 1/8" to 144" and its corresponding DN<br/>
                    Compliance to ASTM, ASME, API, DN, BS, EN ISO
                </p>
            </div>
        </div>
    </div>
</div>