<div class="page-content">
    <div class="products-content-para">
        Instrumentation and Automation are the systems for measuring, controlling, indicating and automating the
        processes.<br/>Infinia Engineering provides ones stop solutions for wide range of Instrumentation and
        Automation Products
    </div>
    <div class="pipefittings-flex-container container-fluid">
        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Structural%20Items/Bushings.jpg">
                    </div>
                    <div class="quality-label-box">
                        Bushings
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Structural%20Items/Round%20Bars.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Round Bars
                        
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Structural%20Items/Sheets.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Sheets
                        
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Structural%20Items/Washers.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Washers
                        
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Structural Items</strong>
                    Types: Round Bars, Hollow Bars, Sheet, Balls, Washers, Bushings (Flange Type or Shoulder Type)<br/>
                    Material: Nylon, PTFE Teflon, EPDM, Neoprene, Fluorosilicone<br/>
                    Dimensions and Sizes: as per Project Requirement<br/>
                    <strong>Neoprene:</strong> Hardness 20-95 Shore A, Tensile Strength 500-3000psi<br/>
                    <strong>PTFE Teflon:</strong><br/>
                    Hardness 50 - 68 Shore D, Tensile Strength 210 - 375 kgf/cm2<br/>
                    Glass Filled PTFE, Virgin, Graphite Filled PTFE, Bronze Filled PTFE<br/>
                    <strong>EPDM:</strong> Hardness 60 - 70 Shore A, Tensile Strength 14MPa<br/>
                    <strong>Nylon</strong><br/>
                    Types: PA6, PA6/6, PA6/10, PA6/12, PA11, PA12<br/>
                    Tensile Strength: 9 to 14MPa<br/>
                    Specific Gravity: 1.12 to 1.15<br/>
                    <strong>Silicone Rubber</strong><br/>
                    Types: Methyl Vinyl, Methyl Phenyl, Fluorosilicone<br/>
                    Water Vapor Permiability: 15.5 - 51.8<br/>
                    Tensile Strength: 5-11MPa<br/>
                    Elongation @ Break: 100 - 1100 %
                </p>
            </div>
        </div>


        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Conveyor%20Belts/Checkered%20Conveyor%20Belts.jpg">
                    </div>
                    <div class="quality-label-box">
                        Checkered Conveyor Belts
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Conveyor%20Belts/Conveyor%20Idlers.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Conveyors Idlers
                        
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Conveyor%20Belts/Embossed%20Conveyor%20Belts.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Embossed Conveyor Belts
                        
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Conveyor%20Belts/Jointless%20Conveyor%20Belst.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Jointless Conveyor Belts
                        
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Conveyor%20Belts/Y%20Cleats%20Conveyor.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Y Cleats Conveyor
                        
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Conveyor Belts</strong><br/>
                    Purpose: Convey of Solids, Slurries, Solids<br/>
                    Base Fabric Material: Polyester, Nylon, Cotton, Solid Woven, Fibre Glass<br/>
                    Top Surface Coating: Rubber, PVC, PU, Silicone<br/>
                    Color: White, Green, Black or any other colors as per specific requirmeent<br/>
                    Size: upto 2400mm wide<br/>
                    Types: Joint less Belts, Y Cleats Belts, Checkered Belts, Embossed Belting, Widerendless Belts<br/>
                    <strong>Rubber Sheeting</strong><br/>
                    Thickness Range from 0.50mm to 100mm<br/>
                    Insertion Sheeting with one or two multiple plies or as per customized<br/>
                    Material: NBR, SBR, Chloroprene/Neoprene, EPDM, Silicon,Viton<br/>
                    <strong>Coated Fabric</strong><br/>
                    Fabrics Types: Aramids, Cotton, Glass Fibre, Nylon, Polyester, Silicone Fiber with Following
                    Elastomers Chlorobuty, EPDM, Fluoroelastomers, NBR, Neoprene, Nitrile, Silicone, PU, PVC <br/>
                    <strong>Conveyor Belts Accessores</strong><br/>
                    Floating Gum, Belt O Cleaners<br/>
                    Impact/Slider Bed<br/>
                    <strong>Idler</strong><br/>
                    Types: For 3 roll troughing idlers, self aligning idlers, impact deep troughing idlers,
                    Plastic Idlers<br/>
                    <strong>Transition</strong><br/>
                    Conveyor Pullers<br/>
                    Drums
                </p>
            </div>
        </div>


        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Anti%20Vibration%20Pads/Anti%20Vibration%20Mounts.jpg">
                    </div>
                    <div class="quality-label-box">
                        Anti-Vibration Mounts
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Anti%20Vibration%20Pads/Anti%20Vibration%20Plates.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Anti-Vibration Plates
                        
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Anti%20Vibration%20Pads/Cork%20Sandwich%20Pads.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Cork Sandwich Pads
                        
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Anti%20Vibration%20Pads/Cylindrical%20Mount%20Anti%20Vibration%20Pads.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Cylindrical Pads
                        
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong></strong>Anti-Vibration/Damping Rubbers</p>
                    Types: Anti Vibration Pads, Cork Sandwich Vibration Pads, Anti Vibration Mounts, Ribbed Lined
                    Vibration Pads<br/>
                    <strong>Anti-Vibration Pads</strong><br/>
                    Types: Cylindrical Mounts, Technical Mounts, Leveling Mounts. Anti Vibration Plates<br/>
                    Material: Neoprene, Silicone, SBR, EPDM<br/>
                    <strong>Cork Sandwich Pads</strong><br/>
                    Laminated Pads 1/2" thickness close grained cork securely bonded between two layers of 1/4"
                    alternate low high ribbed Neoprene rubber pads<br/>
                    Offers high level of Sound Attenuation and Vibration Isolation<br/>
                    <strong>Anti-Vibration Mounts</strong><br/>
                    Types: Base Mounts with Internal Stopper, Base Mounts Flange Type(Female), Plate Mounts, Finger
                    Flex Assemblies, Base Mounts Cup Type, Base Mounts Cylindrical Types, Base Mounts Bell Shaped,
                    Base Mounts Dome Type, Base Mounts Square Type, Base Mounts Rectangular Type, Base Mounts Fan
                    Mounts, M Style Base Mounts<br/>
                    Material: Neoprene, Silicone, SBR, EPDM
                </p>
            </div>
        </div>

        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Packings%20and%20Seals/BOP%20Seals.jpg">
                    </div>
                    <div class="quality-label-box">
                        BOP Seals
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Packings%20and%20Seals/Hammer%20Union%20Seals.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            Hammer Union Seals
                        
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Packings%20and%20Seals/V%20Packings.jpg">
                    </div>
                    <div class="quality-label-box">
                        
                            V Packings
                        
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Packing Element and Seals</strong><br/>
                    Type: BOP Seals, Vee/V Packings, Hammer Union Seals, Hydraulic Seals<br/>
                    <strong>BOP Seals</strong><br/>
                    Type: Inner, Outer<br/>
                    Sizes: 3/16", 7/32", 1/4", 5/16", 3/8", 15/32"<br/>
                    Material: Neoprene, Nitrile, SBR<br/>
                    <strong>Packing Elements</strong><br/>
                    Types: Center Ring, Flat Ring, WV Packings, W Packings, Blue Bullet Packings, Packoff Oil Savers,
                    G Style Packoff Elements, Vee Packing<br/>
                    Elastomer Material: Nitrile, Neoprene, Viton, EPDM, Highly Saturated Nitrile<br/>
                    Plastic Materials: Nylon, Hytrel, PEEK, PTFE<br/>
                    <strong>Hammer Union Seals</strong><br/>
                    Material: NBR80, NBR85 with Brass, FKM 80 Durometer, FKM 80 with SS Backup, FKM 90 with Brass
                    Backup, HBR 80 Durometer<br/>
                    Size: 3" to 20"
                </p>
            </div>
        </div>

        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Wipers%20and%20Guides/Drill%20Pipe%20Wipers.jpg">
                    </div>
                    <div class="quality-label-box">
                        Drill Pipe Wipers
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Wipers%20and%20Guides/Kelly%20Wipers.jpg">
                    </div>
                    <div class="quality-label-box">
                        Kelly Wipers
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Wipers%20and%20Guides/Sucker%20Rod%20Guides.jpg">
                    </div>
                    <div class="quality-label-box">
                        Sucker Rod Guides
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Wipers%20and%20Guides/Sucker%20Rod%20Wipers.jpg">
                    </div>
                    <div class="quality-label-box">
                        Sucker Rod Wipers
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Wipers and Guides</strong><br/>
                    Types: Drill Pipe Wipers, Kelly Wipers, Sucker Rod Wipers, Sucker Rod Guides, Tubing Wipers<br/>
                    <strong>Drill Pipe Wipers</strong><br/>
                    Types: Dual Split, Flat Wipers, Low Profile Wipers,<br/>
                    Sizes: 14",17",19",22",24",26",9",12",36"<br/>
                    Material: NBR, SBR, Nitrile<br/>
                    <strong>Kelly Wipers</strong><br/>
                    Types: Standard pipe, Urethane, Flex Pipe, Split Pipe, Sucker Rod, Gum Pipe<br/>
                    Size: upto 25" OD Pipe<br/>
                    Material: NBR, Nitrile, SBR<br/>
                    <strong>Sucker Rod Guides</strong><br/>
                    Material: Nylon, Rubber<br/>
                    Tubing: 2-3/8", 2-7/8", 3-1/2"<br/>
                    Guide OD: 1.85",2.20",2.75",1.75",2.125"<br/>
                </p>
            </div>
        </div>

        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Couplings%20and%20Protection%20Systems/Composite%20Thread%20Protection%20Systems.jpg">
                    </div>
                    <div class="quality-label-box">
                        Drill Pipe Wipers
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Couplings%20and%20Protection%20Systems/Couplings%20for%20Drill%20pipes.jpg">
                    </div>
                    <div class="quality-label-box">
                        Kelly Wipers
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Couplings%20and%20Protection%20Systems/Couplings%20for%20Tubes.jpg">
                    </div>
                    <div class="quality-label-box">
                        Sucker Rod Guides
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/Rubber&Elastomers/Couplings%20and%20Protection%20Systems/Plastic%20Thread%20Protection%20Systems.jpg">
                    </div>
                    <div class="quality-label-box">
                        Sucker Rod Wipers
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Couplings and Protection Systems</strong><br/>
                    <strong>Protection Systems</strong><br/>
                    Types: Plastic Protection, Composite Thread Protection, Pressed Steel Thread Protectors, Case Steel
                    Thread Protectors<br/>
                    Sizes: 2-3/8" NU to 5-1/2" LC<br/>
                    Suitable for API Drill Pipes, Tubings and Connections as per API 5D, 7 & 5CT<br/>
                    Case Steel Thread Protectors<br/>
                    In accordance to ASTM A27 Grade 30-60, BS3100 Grade A1<br/>
                    Thread and Shoulders of the Cast Steel Thread Protectors with lifting balls/lifting nubbins are
                    precision machined to the requirements as set by API Standards<br/>
                    For OD of 3-1/8" to 11"<br/>
                    <strong>Couplings</strong><br/>
                    <strong>Types:</strong> Couplings for Line Pipes, Couplings for Tubing and Casing<br/>
                    <strong>Couplings for Line Pipes</strong><br/>
                    Sizes: 1/8" to 12"<br/>
                    Manufactured to meet the requirements of API 5CT, API 5L<br/>
                    <strong>Couplings for Tubing and Casing</strong><br/>
                    Types: API Casing Couplings, Long Thread Casing Couplings, Buttress Thread Casing Couplings,
                    External Upset End, Non Upset Tubing<br/>
                    Casing Size: 4-1/2" to 20"<br/>
                </p>
            </div>
        </div>
    </div>
</div>