<div class="page-content">
    <div class="products-content-para">
        A Pipe is a tubular section or hollow cylinder, usually but not necessarily of circular cross section, used
        mainly to convey substances which can flow - liquids, gases, slurries, powders and masses of small solids.<br/>
        Infinia Engineering Supplies Pipe Fittings in compliance to the project requirement
    </div>
    <div class="pipefittings-flex-container container-fluid">
        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/structuralsteels/bars/Round%20Bars.png">
                    </div>
                    <div class="quality-label-box">
                        Circular
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/structuralsteels/bars/Square%20Bars.png">
                    </div>
                    <div class="quality-label-box">
                        Square
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/structuralsteels/bars/Hollow%20Sections.png">
                    </div>
                    <div class="quality-label-box">
                        Hollow Sections
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/structuralsteels/bars/Hex%20Bars.png">
                    </div>
                    <div class="quality-label-box">
                        Hex
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/structuralsteels/bars/Steel%20Coils.jpg">
                    </div>
                    <div class="quality-label-box">
                        Coils
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Bars</strong><br/>
                    Types: Round, Square, Rectangular, Hollow, Flat, Coils<br/>
                    Material: Carbon Steel, Alloy Steel, Stainless Steel, Nickel Alloys - Monel, Inconel, Hastelloy,
                    Titanium, Copper, Bronze, Phosphor<br/>
                    Bronze, Brass, Aluminum, Nylon, PTFE<br/>
                    Size: 6mm to 250mm and its respective inches<br/>
                    Compliance ASTM, ASME, API, BS, EN ISO, DIN, JIS
                </p>
            </div>
        </div>


        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/structuralsteels/sheetmetals/Metal%20Sheet.png">
                    </div>
                    <div class="quality-label-box">
                        Sheets
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/structuralsteels/sheetmetals/Chequered%20Plate.png">
                    </div>
                    <div class="quality-label-box">
                        Chequered Plates
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/structuralsteels/sheetmetals/Flat%20Bars.png">
                    </div>
                    <div class="quality-label-box">
                        Flat Bars
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/structuralsteels/sheetmetals/Perforated%20Sheet.png">
                    </div>
                    <div class="quality-label-box">
                        Perforated Sheets
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Metal Plates</strong><br/>
                    Type: Sheets, Chequered Plates, Perforated Sheets, Flat Bars<br/>
                    Material: Carbon Steel, Alloy Steel, Stainless Steel, Nickel Alloys - Monel, Inconel, Hastelloy,
                    Titanium, Copper, Bronze, Phosphor, Bronze, Brass, Aluminum, Nylon, PTFE<br/>
                    Size:3mm to 25mm and its respective in Inches, in Thickness<br/>
                    Compliance ASTM, ASME, API, BS, EN ISO, DIN, JIS
                </p>
            </div>
        </div>


        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/structuralsteels/angles/Equal%20Angles.jpg">
                    </div>
                    <div class="quality-label-box">
                        Equal Angle
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/structuralsteels/angles/Unequal%20Angles.jpg">
                    </div>
                    <div class="quality-label-box">
                        Unequal Angle
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Angles</strong><br/>
                    Type: Equal Angles, UnEqual Angles<br/>
                    Material: Carbon Steel, Alloy Steel, Stainless Steel, Nickel Alloys - Monel, Inconel, Hastelloy,
                    Titanium, Copper, Bronze, Phosphor Bronze, Brass, Aluminum, Nylon, PTFE<br/>
                    Size:3mm to 25mm and its respective in Inches, in Thickness<br/>
                    Compliance ASTM, ASME, API, BS, EN ISO, DIN, JIS
                </p>
            </div>
        </div>

        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/structuralsteels/beams/I%20Beam.jpg">
                    </div>
                    <div class="quality-label-box">
                        I/H Type
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/structuralsteels/beams/Wide%20Flange%20Beam.jpg">
                    </div>
                    <div class="quality-label-box">
                        Wide Flange
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Beams</strong><br/>
                    Types: Wide Flange – I/H Type, S Type<br/>
                    Material: Carbon Steel, Alloy Steel, Stainless Steel, Nickel Alloys - Monel, Inconel, Hastelloy,
                    Titanium, Copper, Bronze, Phosphor Bronze, Brass, ALuminum<br/>
                    Size: W4 To W44, W represents Depth in Inches<br/>
                    Compliance ASTM, ASME, API, BS, EN ISO, DIN, JIS
                </p>
            </div>
        </div>

        <div class="pipefittings-col-flex">
            <div class="pipefittings-row-flex">
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/structuralsteels/channels/C%20Channel.jpg">
                    </div>
                    <div class="quality-label-box">
                        C Channel
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/structuralsteels/channels/U%20Channel.jpg">
                    </div>
                    <div class="quality-label-box">
                            U Channel
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/structuralsteels/channels/Box%20Channel%200.jpg">
                    </div>
                    <div class="quality-label-box">
                            Box Channel
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/structuralsteels/channels/J%20Channel.jpg">
                    </div>
                    <div class="quality-label-box">
                            J Channel
                    </div>
                </div>
                <div class="pipefittings-imgspan-flex">
                    <div class="image-box">
                        <img src="/images/Products/structuralsteels/channels/Slotted%20Channel.jpg">
                    </div>
                    <div class="quality-label-box">
                            Slotted Channel
                    </div>
                </div>
            </div>
            <div class="pipefittings-item-description">
                <p>
                    <strong>Channels</strong><br/>
                    Types: C Channel, U Channel, J Channel, Box Channel, Slotted Channel<br/>
                    Material: Carbon Steel, Alloy Steel, Stainless Steel, Nickel Alloys - Monel, Inconel, Hastelloy,
                    Titanium, Copper, Bronze, Phosphor Bronze, Brass, ALuminum<br/>
                    Size: W4 To W27, W represents Depth in Inches<br/>
                    Compliance ASTM, ASME, API, BS, EN ISO, DIN, JIS
                </p>
            </div>
        </div>
    </div>

    <div class="flange-pictures-container col-xs-12">
        <div class="flange-pictures">
            <div class="image-box">
                <img src="/images/Products/structuralsteels/Floor%20Drain.jpg">
            </div>
            <div class="quality-label-box">
                Floor Drain
            </div>
        </div>
        <div class="flange-pictures">
            <div class="image-box">
                <img src="/images/Products/structuralsteels/Manhole%20Cover.jpg">
            </div>
            <div class="quality-label-box">
                Manhole Cover
            </div>
        </div>
    </div>
</div>