<div class="page-content">
    <div class="products-content-para">
        <p>
            A Valve is a device that regulates, directs or controls the flow of fluid - liquids, gases, fluidized
            solid or slurries, by opening, closing or partially obstructing various passageways.<br/>
            Infinia Engineering Supplies Valves in compliance to the project requirement
        </p>
    </div>
    <div class="container-fluid products-flex-container">
        <div class="products-flex-row-container container-fluid">
            <div class="image-box">
                <img src="/images/Products/Valves/Gate%20Valves.jpg">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>Gate Valves</strong><br/>
                    Size: 15mm to 600mm<br/>
                    Material: Body-WCB,CF8,CF8M,Hastelloy,Super Duplex,Alloy 20, LCB. Trim:13% Cr, Stellite<br/>
                    Ends: Flanged End, Butt Weld End<br/>
                    Operations: Manual, Pneumatic, Electric<br/>
                    Class: 150, 300, 600<br/>
                    Design Standard: API598, ISO5208, ASME B16.10(F to F end)
                </p>
            </div>
        </div>
        <div class="products-flex-row-container container-fluid">
            <div class="image-box">
                <img src="/images/Products/Valves/Ball%20Valve.jpg">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>Ball Valves</strong><br/>
                    Type: Screwed, Floating, Trunnion Mounted, Forged Trunnion Mounted, Fully Welded<br/>
                    Size: 15mm to 600mm<br/>
                    Material: Body-WCB,CF8,CF8M,Hastelloy,Super Duplex,Alloy 20, LCB. Trim:13% Cr, Stellite, reinforced
                    PTFE,GFT,CFT<br/>
                    Ends: Flanged End, Butt Weld End,<br/>
                    Operations: Manual, Pneumatic, Electric<br/>
                    Class: 150, 300, 600, 800<br/>
                    Design Standard: API598, ISO5208, ASME B16.10(F to F end)
                </p>
            </div>
        </div>
        <div class="products-flex-row-container container-fluid">
            <div class="image-box">
                <img src="/images/Products/Valves/Glove%20Valves.jpg">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>Globe Valves</strong><br/>
                    Design Type: Pattern Glove, Angle Pattern, WYE Pattern<br/>
                    Size: 15mm to 600mm<br/>
                    Material: Body-WCB,CF8,CF8M,Hastelloy,Super Duplex,Alloy 20, LCB. Trim:13% Cr, Stellite, reinforced
                    PTFE,GFT,CFT<br/>
                    Ends: Flanged End, Butt Weld End,<br/>
                    Operations: Manual, Pneumatic, Electric<br/>
                    Class: 150, 300, 600, 800<br/>
                    Design Standard: BS1873, ASME B16.10(F to F end)<br/>
                </p>
            </div>
        </div>
        <div class="products-flex-row-container container-fluid">
            <div class="image-box">
                <img src="/images/Products/Valves/Check%20Valve.jpg">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>Check Valve</strong><br/>
                    Type: Swing Check, Wafer Check, Dual Plate<br/>
                    Size: 50mm to 600mm2<br/>
                    Material: Body/Disc-WCB,CF8,CF8M,Hastelloy,Super Duplex,Alloy 20, LCB.<br/>
                    Seat:EPDM,Nitrile,PTFE,Vitonetic, Trim:13%Cr,Stellite<br/>
                    Ends: Flanged End, Butt Weld End, Wafer Ends<br/>
                    Operations: Auto<br/>
                    Class: 150, 300, 600, 800<br/>
                    Design Standard: BS 1868, API 6D<br/>
                </p>
            </div>
        </div>
        <div class="products-flex-row-container container-fluid">
            <div class="image-box">
                <img src="/images/Products/Valves/Butterfly%20Vale.jpg">
            </div>
            <div class="col-xs-9 products-big-description-box">
                <p>
                    <strong>Butterfly Valves</strong><br/>
                    Type: PTFE Sleeved, Wafer End, Flanged End<br/>
                    Size: 50mm to 3000mm<br/>
                    Material: Body/Disc-WCB,CF8,CF8M,Hastelloy,Super Duplex,Alloy 20, LCB.<br/>
                    Seat:EPDM,Nitrile,PTFE,Vitonetic, Trim:13%Cr,Stellite<br/>
                    Ends: Flanged End, Butt Weld End, Wafer Ends<br/>
                    Operations: Manual, Pneumatic, Electric<br/>
                    Class: 150, 300, 600, 800, and respective PN<br/>
                    Design Standard: API 609 Cat A, AWWA C 504<br/>
                </p>
            </div>
        </div>
    </div>
    <div class="flange-pictures-container">
        <div class="flange-pictures">
            <div class="image-box">
                <img src="/images/Products/Valves/Solenoid%20Valve.jpg">
            </div>
            <div class="quality-label-box">
                Solenoid Valve
            </div>
        </div>
        <div class="image-box">
            <div>
                <img src="/images/Products/Valves/Linear%20Control%20Valve.jpg">
            </div>
            <div class="quality-label-box">
                Linear Control Valve
            </div>
        </div>
        <div class="image-box">
            <div>
                <img src="/images/Products/Valves/Rotary%20Control%20Valve.jpg">
            </div>
            <div class="quality-label-box">
                Rotary Control Valve
            </div>
        </div>
        <div class="image-box">
            <div>
                <img src="/images/Products/Valves/Plug%20Valve.jpg">
            </div>
            <div class="quality-label-box">
                Plug Valve
            </div>
        </div>
        <div class="image-box">
            <div>
                <img src="/images/Products/Valves/Needle%20Valve.jpg">
            </div>
            <div class="quality-label-box">
                Needle Valve
            </div>
        </div>
    </div>
</div>