/********************************************--Banner Css--***********************************************************/
@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu');
body{
    font-family: "Roboto";
}
.banner {
    background-color: rgb(255,192,0);
    font-family: "Ubuntu";
    /*min-width: 180px;*/
}
.banner-content{
    color: #ffffff;
    width: 100vw;
    padding: 0 20px;
}

@media only screen and (min-width: 500px){
    .banner-content{
        margin: 0 auto;
        color: #ffffff;
        width: 90vw;
        padding: 0;
    }
}

@media only screen and (min-width: 768px){
    .banner-content{
        margin: 0 auto;
        color: #ffffff;
        width: 80vw;
        padding: 0;
    }
}

.banner-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.banner-flex-left{
    display: flex;
    align-items: flex-start;
}

.banner-flex-left div h2 a{
    text-decoration: none;
    color: #313131;
}

.banner-flex-right{
    display: flex;
    align-items: flex-end;
}


/*********************************************--Navigation Bar CSS--***************************************************/

.nav-row{
    background-color: #ff9800;
    border: none;
}

.nav-container{
    width: 100vw;
    padding: 0 20px;
}

@media only screen and (min-width: 500px){
    .nav-container{
        width: 90vw;
        margin: 0 auto;
        padding: 0;
    }
}

@media only screen and (min-width: 768px){
    .nav-container{
        width: 80vw;
        margin: 0 auto;
        padding: 0;
    }
}

.nav-background{
    background-color: #ff9800;
    border: none;
}

.dropdown-menu-background {
    background-color: #1d1e1f;
}

.dropdown-menu-background li a {
    text-decoration: none;
    color: #fff;
}

/***************************************************-- --*********************************************/

#content{
    width: 100vw;
    padding: 0 20px;
}

@media screen and (min-width: 500px){
    #content{
        width: 90vw;
        margin: 0 auto;
        padding: 0 10px;
    }
}

@media only screen and (min-width: 768px) {
    #content{
        width: 80vw;
        margin: 0 auto;
        padding: 0 0vw;
    }
}
.home-container {
    background: url("../images/Home Page/Home-page-dim.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.container-background {
    background-color: #d8d8d8;
    font-family: sans-serif;
    min-height: 100vh;
}

.projects-background {
    background-color: black;
    min-height: 100vh;

}

.content-background {
    background-color: #f0f0f0;
    min-height: 100vh;
}


.page-content{
    background: white;
    min-height: 83vh;
}


@media only screen and(min-width: 500px){
    .page-content{
        background: white;
    }
}

.body-content {
    margin: 0 20px;
}

.home-container-dimbackground {
    background: black;
    opacity: 0.7;
    height: 100vh;
}



.home {
    padding-top: 20px;
}

.home-content {
    /*background-color: #e6e6e6;*/
    max-width: 66.66vw;
    background-color: white;
    box-shadow: 2px 2px 5px #4b5257;
    padding: 10px;
}


/**********************************************--About CSS--***********************************************************/

.about-container{
    padding: 10px 20px;
}

.about-flex-container{
    display: flex;
    flex-direction: column;
}

.about-small-row-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #f9f9f9;
    margin-bottom: 20px;
    justify-content: space-between;
}

.about-small-row-flex-left-container{
    max-width: 790px;
    margin-top: 20px;
    padding: 10px 20px;
    /*box-shadow: 2px 2px 5px;*/
    background: #f9f9f9;
}

.about-small-row-flex-right-container{
    margin-left: 10px;
    min-width: 250px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    /*box-shadow: 2px 2px 5px;*/
    background: #f9f9f9;
}

.about-bottom-container{
    /*margin: 15px auto;*/
    /*max-width: 990px;*/
    /*margin-top: 10px;*/
    padding: 10px 20px;
    background: #f9f9f9;
    /*box-shadow: 2px 2px 5px;*/
}


/********************************************--Industry CSS--**********************************************************/




.flex-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flex-content div {
    margin-top: 10px;
    /*margin-left: 0.5vw;*/
}

.flex-left {
    min-width: 70vw;
    box-shadow: 2px 2px 5px #4b5257;
    background-color: white;
    /*padding: 1vh 1vw;*/
}

.flex-right {
    min-width: 20vw;
    background-color: white;
    margin-left: 5px;
    /*align-content: center;*/
    /*align-items: center;*/
    /*float: left;*/
    /*padding: 1vh 1.5vw;*/
    box-shadow: 2px 2px 5px #4b5257;
}

.bottom-container {
    background: white;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px #4b5257;
}

.highlight {
    background-color: #dddddd;
    padding: 10px 10px;
}

.image-box {
    background-color: white;
    /*margin-right: 10px;*/
    width: 180px;
    height: 130px;
    border: 1px solid #f9f9f9;
    /*box-shadow: 2px 2px 5px #4b5257;*/
}

.text-box {
    background-color: white;
    width: 280px;
    padding: 10px 10px;
    /*box-shadow: 2px 2px 5px #4b5257;*/
}

.blue {
    background-color: blue;
    width: 240px;
    padding: 5px 10px;

}

.darkblue {
    background-color: darkblue;
    width: 240px;
    padding: 5px 10px;
}

.yellow {
    background-color: yellow;
    width: 240px;
    padding: 5px 10px;

}

.green {
    background-color: green;
    width: 240px;
    padding: 5px 10px;

}

.red {
    background-color: red;
    width: 240px;
    padding: 5px 10px;

}

.grey {
    background-color: grey;
    width: 240px;
    padding: 5px 10px;

}


/**********************************************--Industry CSS--********************************************************/
.industry-content-para {
    padding-top: 20px;
    padding-left: 10px;
}

.industry-flex-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.industry-big-row-flex {
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
}

.industry-col-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: center;
    box-shadow: 2px 2px 2px rgba(75, 82, 87, 0.17);
}

.industry-small-row-flex {
    /*min-width: 200px;*/
}

.industry-small-row-flex p {
    padding-top: 20px;
    /*color: #a32f0a;*/
    font-size: 15px;
    font-weight: 600;
}

.industry-small-row-flex img {
    width: 180px;
    height: 130px;
    border-color: #1d1e1f;
    box-shadow: 2px 2px 5px #4b5257;
}


/*******************************************--Products CSS--***********************************************************/
.products-content {
    background: #d8d8d8;
}

.products-flex-container {
    /*padding-top: 1%;*/
    padding-bottom: 20px;
}

.products-content-para {
    padding: 10px 15px;
}

.products-flex-row-container {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /*padding-bottom: 1%;*/
    justify-content: center;
}

.products-flex-row-container div {
    margin-top: 20px;
    margin-right: 10px;
}

.products-flex-row-container div img {
    padding: 0;
    margin: 0;
    width: 180px;
    height: 130px;
    horiz-align: center;
}

.products-flex-row-container div p {
    /*padding: 1%;*/
    background-color: #f9f9f9;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.products-small-row-flex {
    margin-left: 20px;
    margin-top: 20px;
}

.products-big-description-box {
    background-color: #f9f9f9;
    padding: 20px 20px;
    /*box-shadow: 2px 2px 5px #4b5257;*/
    margin-top: 20px;
}

.bolts-and-nuts-bottom-para {
    margin: 20px 15px;
    background-color: #f9f9f9;
    /*box-shadow: 2px 2px 5px;*/
    padding: 10px 20px 5px 20px;
    /*margin-bottom: 1%;*/
}

.flange-pictures-container {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flange-pictures {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flange-pictures div img {
    width: 150px;
    height: 130px;
    margin-bottom: 25px;
}

.flange-pictures div span {
    display: block;
    padding: 10px 20px;
    min-width: 150px;
    background-color: #ebebeb;
    text-align: center;
    margin-bottom: 25px;
}

.flange-flex-pictures-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
}

.flange-img-label-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.big-text-box {
    width: 300px;
    background-color: white;
    box-shadow: 5px 5px 5px #4b5257;
    padding: 10px 25px;
    /*padding-left: 3% 2%;*/
}

.pipefittings-flex-container {
    display: flex;
    flex-direction: column;
}

.pipefittings-col-flex {
    display: flex;
    flex-direction: column;
    padding-bottom: 1vh;
}

.pipefittings-row-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pipefittings-imgspan-flex {
    display: flex;
    flex-direction: column;
}

.pipefittings-imgspan-flex div img {
    padding-top: 20px;
    width: 150px;
    height: 130px;
    padding-bottom: 25px;
}

.pipefittings-imgspan-flex div span {
    min-width: 150px;
    display: block;
    background-color: #ebebeb;
    text-align: center;
    padding: 10px 0;
}

.pipefittings-item-description {
    margin: 10px;
    padding-top: 10px;
    padding-left: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 5px;
}

/************************************************ --PROJECT CSS -- **************************************************/
.project-content-para {
    padding-top: 20px;
    margin-left: 20px;
}

.project-flex-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.project-big-row-flex {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-small-row-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-box img {
    width: 180px;
    height: 130px;
}

.project-text-box p span {
    /*color: #a32f0a;*/
}

.project-flex-row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background: #f9f9f9;
    margin: 0 20px 20px 20px;
}

.project-flex-row-container div.image-box {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-text-box {
    min-height: 130px;
    padding-top: 10px;
    background-color: #f9f9f9;
    /*box-shadow: 2px 2px 5px #4b5257;*/
}

/************************************--QUALITY CSS--*******************************************************************/

.quality-flex-container {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.quality-flex-row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.quality-flex-img-span-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(75, 82, 87, 0.17);
}

.quality-label-box {
    /*margin-top: 20px;*/
    padding: 10px 0;
    width: 180px;
    display: block;
    background-color: #f9f9f9;
    /*box-shadow: 2px 2px 5px;*/
    text-align: center;
}

.quality-certification-background-color {
    background-color: white;
}

.quality-certification-container {
    margin: 5px 20px 10px 20px;
    padding: 10px 20px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 2px rgba(75, 82, 87, 0.17);
}

.quality-label-header {
    font-size: medium;
}

.quality-certification-description {
    padding: 15px 15px;
}

/***************************************************--About CSS--******************************************************/

.contact-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-flex-left-container{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.contact-flex-left-container div{
    margin-top: 15px;
    margin-left: 15px;
    padding: 10px 10px;
    border-bottom: 2px solid #f9f9f9;
    /*box-shadow: 2px 2px 2px rgba(75, 82, 87, 0.17);*/
    /*min-width: 30vw;*/
}

@media only screen and(min-width: 500px){
    .contact-flex-left-container div{
        margin-top: 10px;
        margin-left: 10px;
        padding: 10px 10px;
        box-shadow: 2px 2px 2px rgba(75, 82, 87, 0.17);
        min-width: 60vw;
    }
}

@media only screen and(min-width: 768px) {
    .contact-flex-left-container div{
        margin-top: 15px;
        margin-left: 15px;
        padding: 10px 10px;
        box-shadow: 2px 2px 2px rgba(75, 82, 87, 0.17);
        min-width: 30vw;
    }
}



.contact-flex-right-container{
    margin: 10px 10px;
    padding: 10px 10px;
    width: 50%;
    background: #f9f9f9;
    /*box-shadow: 2px 2px 2px rgba(75, 82, 87, 0.17);*/
    /*min-width: 40vw;*/
}

@media only screen and (min-width: 768px) {
    .contact-flex-right-container div{
        /*min-width: 40vw;*/
    }
}

td{
    padding: 2px;
}

td input{
    /*width: 100%;*/
}

form table{
    width: 100%;
    margin-bottom: 10px;
}

textarea{
    width: 100%;
    margin-bottom: 10px;
}

button[type="submit"]{
    margin-top: 10px;
}

@media (max-width: 600px) {
    .contact-flex-left-container{
        width: 100%;
    }

    .contact-flex-right-container{
        width: 100%;
    }
}

.item img{
    float: right;
}

.carousel{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    height: 75vh;
}

.item .carousel-text{
    float: left;
    color: white;
}

.home-collage img{
    margin-bottom: 20px;
    background: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}